.svn
.vscode
*.suo
*.bak
*.sdf
*.user

/VS/Arduino.VC/Lib/StepperSystem.lib

Debug/
Release/
ipch/
.vs/

/VS/builds


obj
bin

*.opendb
*.db

.pio

/VS/Sign/Call-Invoke-SignCNCLib.ps1
/VS/Arduino.VC/StepperTest/TestResult

/Sketch/libraries/grbl
/Sketch/libraries/LiquidCrystal_I2C
/Sketch/libraries/LiquidCrystal
/Sketch/libraries/U8glib
/Sketch/libraries/NmraDcc
/Sketch/libraries/SoftwareServo
/Sketch/libraries/SD
/Sketch/libraries/DallasTemperature
/Sketch/libraries/U8g2
/Sketch/libraries/OneWire
/Sketch/libraries/Servo
/Sketch/libraries/Adafruit_TiCoServo
/Sketch/libraries/Adafruit_Circuit_Playground
/Sketch/libraries/Adafruit_TiCoServo
/Sketch/libraries/SpacebrewYun

/Sketch/hardware/espressif

/Doc
/VS/Arduino.VC/Lib
.pio
/Sketch/libraries/Adafruit_NeoPixel
